.App {
  text-align: center;
}

.book-list {
  margin: 50px 25px;
  display: flex;
  gap: 30px;
}

.book {
  border: 1.8px solid #36459a;
  padding: 30px 15px;
  width: 450px;
  margin: 0 auto;
}

.book img {
  width: 300px;
}

.book-title {
  font-size: 27px;
}

.line {
  border-bottom: 2.5px solid #272829;
}

.list {
  list-style: none;
}

.btn {
  margin-top: 20px;
  background-color: #102136;
  border: none;
  padding: 15px 65px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
